html {
    background-color: var(--primary-color);
    font-family: 'Kanit-bold', sans-serif;
    color : white;
}

:root {
    --primary-color: #101728;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 100px;
}

header {
    background-color: var(--primary-color);
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    padding: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header ul {
    padding: 0;
}

header li {
    list-style-type: none;
    margin: 0 10px;
}

.logo {
    display: flex;
    border-radius: 50%;
    width: 25%;
    color: white;
}

.ar1 {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.br-1 {
    border-radius: 1em;
}

.br-2 {
    border-radius: 2em;
}

.bloggy-div {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    padding: 1em 2em;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bloggy-btn {
    font-size: large;
    padding: 0.5em;
    border-radius: 1em;
    color: white;
    background: linear-gradient(45deg,#ff3c5f, #9340ff);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.bloggy-btn:hover {
    scale: 1.05;
    transition: 0.3s;
}

#login a, #register a {
    color: white;
    transition: 0.3s;
}

#login a:hover, #register a:hover {
    scale: 1.05;
    transition: 0.3s;
}